WCFSample/WCFServiceDaemon/WindowsFormsApplication1/Service References/StudentService/StudentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceDaemon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceDaemon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentInfo" nillable="true" type="tns:StudentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentInfo" nillable="true" type="tns:ArrayOfStudentInfo" />
  <xs:complexType name="StudentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentInfo" nillable="true" type="tns:StudentInfo" />
</xs:schema>